In [1]:
import pandas as pd 
with open('df_use.csv') as du:
    df=pd.read_csv(du)
df.ix[:1]

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [33]:
with open('business.csv') as bn:
    df_bu=pd.read_csv(bn)
df_bu.ix[0:1]

,Unnamed: 0,address,business_id,categories,city,hours,is_open,latitude,longitude,name,review_count,stars,state,type
0,0,"227 E Baseline Rd, Ste J2",0DI8Dt2PJp07XkVvIElIcQ,"['Tobacco Shops', 'Nightlife', 'Vape Shops', '...",Tempe,"['Monday 11:0-21:0', 'Tuesday 11:0-21:0', 'Wed...",0,33.378214,-111.936102,Innovative Vapors,17,4.5,AZ,business
1,1,495 S Grand Central Pkwy,LTlCaCGZE14GuaUXUGbamg,"['Caterers', 'Grocery', 'Food', 'Event Plannin...",Las Vegas,"['Monday 0:0-0:0', 'Tuesday 0:0-0:0', 'Wednesd...",1,36.192284,-115.159272,Cut and Taste,9,5.0,NV,business

In [116]:
##construct other text features
from nltk.corpus import stopwords
import nltk
import time
from collections import Counter
from nltk import pos_tag
from nltk import word_tokenize

lem=nltk.wordnet.WordNetLemmatizer()
def text_processing(df):
    start=time.clock()
    df['text']=[' '.join(i.split()) for i in df.text]
    print('1/4', float(time.clock()-start))
    df['text']=[i.lower() for i in df.text]
    print('2/4', float(time.clock()-start))
    df['filtered_text']=[' '.join([i for i in j.split() if i not in stopwords.words('english') ]) for j in df.text]
    print('3/4', float(time.clock()-start))
    df['lemmatize_text']=[' '.join([lem.lemmatize(i) for i in j.split() ]) for j in df.text]
    print('4/4', float(time.clock()-start))
    df['lemmatize_filtered_text']=[' '.join([lem.lemmatize(i) for i in j.split() ]) for j in df.filtered_text]
    print('4/4', float(time.clock()-start))
    
    

def construct_other_text_features(df):
    
    df['review_all_length']=[len(i.split(' ')) for i in df.text]
    df['review_exceptstop_length']=[len(i.split(' ')) for i in df.filtered_text]


##constructing text
def compute_tag(text):
    l=Counter([j for i,j in pos_tag(word_tokenize(text))])
    num=sum([l[i] for i in ['NN','NNP','NNS','NNPS']])
    adj=sum([l[i] for i in ['JJ','JJR','JRS']])
    adv=sum([l[i] for i in ['RB','RBR','RBS']])
    verb=sum([l[i] for i in ['VB','VBD','VBG','VBN','VBP','VBZ']])
    return list([num,adj,adv,verb])

    
def construct_words_tag_feature(df):
    df['noun']=[compute_tag(i)[0] for i in df['lemmatize_filtered_text']]
    df['adj']=[compute_tag(i)[1] for i in df['lemmatize_filtered_text']]
    df['adv']=[compute_tag(i)[2] for i in df['lemmatize_filtered_text']]
    df['verb']=[compute_tag(i)[3] for i in df['lemmatize_filtered_text']]

In [94]:
text_processing(df)
print('processing finish')
df.ix[:2]

1/4 2.585447999999815
2/4 2.8395160000000033
3/4 3115.870271
4/4 3236.331671
4/4 3300.3720250000006
processing finish

,Unnamed: 0,Unnamed: 0.1,business_id,cool,date,funny,review_id,stars,text,type,useful,user_id,year,month,label,filtered_text,lemmatize_text,lemmatize_filtered_text
0,0,3657177,Ec9CBmL3285XkeHaNp-bSQ,0,2016-02-03,0.0,ngyVUWLxjNumTOTN-6HVtg,4.0,definitely worth it to drive off the strip to ...,review,0.0,81YGtTnpC6OcKN8_kjxgJQ,2016,2,0,definitely worth drive strip eat good food goo...,definitely worth it to drive off the strip to ...,definitely worth drive strip eat good food goo...
1,1,454416,b41zjWT4pzcTgNY04eKAvg,0,2016-08-06,0.0,K5DlV2-PifbmPutdHjJdJw,4.0,a great go to place for bubble tea in big beer...,review,0.0,CY5yCvzJpkgsQUnO-S1Mtw,2016,8,0,"great go place bubble tea big beer mugs, varie...",a great go to place for bubble tea in big beer...,"great go place bubble tea big beer mugs, varie..."
2,2,3691165,hDyc9DdjGldhxis5E1rd3w,0,2016-12-15,0.0,U1Rt2R7V39b_E9HeTQq-Mw,5.0,tried this place last night...food was amazing...,review,0.0,zEfhQAVyhJpXSvjr2CigyQ,2016,12,0,"tried place last night...food amazing, service...","tried this place last night...food wa amazing,...","tried place last night...food amazing, service..."

In [95]:
print('construct length')
construct_other_text_features(df)
df.ix[:1]

construct length

,Unnamed: 0,Unnamed: 0.1,business_id,cool,date,funny,review_id,stars,text,type,useful,user_id,year,month,label,filtered_text,lemmatize_text,lemmatize_filtered_text,review_all_length,review_exceptstop_length
0,0,3657177,Ec9CBmL3285XkeHaNp-bSQ,0,2016-02-03,0.0,ngyVUWLxjNumTOTN-6HVtg,4.0,definitely worth it to drive off the strip to ...,review,0.0,81YGtTnpC6OcKN8_kjxgJQ,2016,2,0,definitely worth drive strip eat good food goo...,definitely worth it to drive off the strip to ...,definitely worth drive strip eat good food goo...,38,24
1,1,454416,b41zjWT4pzcTgNY04eKAvg,0,2016-08-06,0.0,K5DlV2-PifbmPutdHjJdJw,4.0,a great go to place for bubble tea in big beer...,review,0.0,CY5yCvzJpkgsQUnO-S1Mtw,2016,8,0,"great go place bubble tea big beer mugs, varie...",a great go to place for bubble tea in big beer...,"great go place bubble tea big beer mugs, varie...",49,36

In [126]:
print('construct words_tag')
construct_words_tag_feature(df)
df.ix[:2]

construct words_tag

,Unnamed: 0,Unnamed: 0.1,business_id,cool,date,funny,review_id,stars,text,type,...,label,filtered_text,lemmatize_text,lemmatize_filtered_text,review_all_length,review_exceptstop_length,noun,adj,adv,verb
0,0,3657177,Ec9CBmL3285XkeHaNp-bSQ,0,2016-02-03,0.0,ngyVUWLxjNumTOTN-6HVtg,4.0,definitely worth it to drive off the strip to ...,review,...,0,definitely worth drive strip eat good food goo...,definitely worth it to drive off the strip to ...,definitely worth drive strip eat good food goo...,38,24,9,11,1,2
1,1,454416,b41zjWT4pzcTgNY04eKAvg,0,2016-08-06,0.0,K5DlV2-PifbmPutdHjJdJw,4.0,a great go to place for bubble tea in big beer...,review,...,0,"great go place bubble tea big beer mugs, varie...",a great go to place for bubble tea in big beer...,"great go place bubble tea big beer mugs, varie...",49,36,19,12,0,4
2,2,3691165,hDyc9DdjGldhxis5E1rd3w,0,2016-12-15,0.0,U1Rt2R7V39b_E9HeTQq-Mw,5.0,tried this place last night...food was amazing...,review,...,0,"tried place last night...food amazing, service...","tried this place last night...food wa amazing,...","tried place last night...food amazing, service...",28,19,10,4,3,1

In [145]:
import curses 
from curses.ascii import isdigit 
import nltk
from nltk.corpus import cmudict 
d = cmudict.dict() 
def nsyl(word): 
    return [len(list(y for y in x if isdigit(y[-1]))) for x in d[word.lower()]][0]

In [213]:
from textstat.textstat import textstat
import re

def compute_syllables(text):
    num_sentence=textstat.sentence_count(text)
    text=re.sub('[^A-Za-z0-9]+', ' ', text)
    word_list=text.split()
    num_simple=0
    num_complex=0
    num_syllables=0
    for i in word_list:
        try:
            syllables=nsyl(i)
            if syllables>=3:
                num_complex+=1
                num_syllables=num_syllables+syllables
            else:
                num_simple+=1
                num_syllables=num_syllables+syllables
        except:
            continue
    return [num_simple,num_complex,num_syllables,num_sentence]

In [164]:
compute_syllables(df.text[1])

[43, 4, 52, 4]

In [233]:
import language_check
tool = language_check.LanguageTool('en-US')
import math
def construct_readability_feature(df):
    #df['simple_words']=[compute_syllables(i)[0] for i in df.text]
    #df['complex_words']=[compute_syllables(i)[1] for i in df.text]
    #df['syllables']=[compute_syllables(i)[2] for i in df.text]
    #df['num_sentence']=[compute_syllables(i)[3] for i in df.text]
    #df['error_num']=[len(tool.check(i)) for i in df.text]
    #df['error_num']=df['error_num']-df['num_sentence']
    df['fog_index']=0.4*((df.simple_words+df.complex_words)/df.num_sentence+100*(df.complex_words/df['review_all_length']))
    df['Flesch_reading_ease_score']=206.835-1.015*((df.simple_words+df.complex_words)/df.num_sentence)-84.6*(df.syllables/(df.simple_words+df.complex_words))
    df['SMOG_index']=[1.043*math.sqrt(float(30*((df.simple_words[i]+df.complex_words[i])/df.num_sentence[i])))+3.1219 for i in df.index]
    df['fog_index_simple']=0.4*((df.simple_words+df.complex_words)/df.num_sentence+100*(df.simple_words/df['review_all_length']))
    df['word_length']=df['syllables']/df['review_all_length']

In [234]:
construct_readability_feature(df)

In [238]:
##construc business 
def construct_business_feature(df):
    df["business_star"]=df.business_id.map(df_bu.set_index('business_id').stars)
    df["business_review_count"]=df.business_id.map(df_bu.set_index('business_id').review_count)
    df['city']=df.business_id.map(df_bu.set_index('business_id').city)

In [239]:
print('construct_ business')
construct_business_feature(df)

construct_ business

In [248]:
with open('user.csv') as ur:
    df_ur=pd.read_csv(ur)
from datetime import datetime
date_format = "%Y-%m-%d"
b = datetime.strptime('2017-7-26', date_format)
df_ur['days_since']= [b-datetime.strptime(i, date_format) for i in df_ur.yelping_since]
df_ur.ix[:1]

,Unnamed: 0,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,...,fans,friends,funny,name,review_count,type,useful,user_id,yelping_since,days_since
0,0,3.59,4192,79,4192,3904,19,305,4705,1347,...,298,"['iJg9ekPzF9lkMuvjKYX6uA', 'ctWAuzS04Xu0lke2Ro...",12316,Rob,761,user,18456,EZmocAborM6z66rTzeZxzQ,2009-09-12,2874 days
1,1,4.29,144,11,144,64,1,4,97,24,...,34,"['r2UUCzGxqI6WPsiWPgqG2A', 'qewG3X2O4X6JKskxyy...",28,Vivian,80,user,117,myql3o3x22_ygECb8gVo7A,2009-06-27,2951 days

In [250]:
##construc reviewers
def construc_reviewers_feature(df):
    df["user_average_stars"]=df.user_id.map(df_ur.set_index('user_id').average_stars)
    df["user_fans"]=df.user_id.map(df_ur.set_index('user_id').fans)
    df['user_friends']=df.user_id.map(df_ur.set_index('user_id').friends)
    df['user_received_funny']=df.user_id.map(df_ur.set_index('user_id').funny)
    df['user_received_cool']=df.user_id.map(df_ur.set_index('user_id').cool)
    df['user_received_useful']=df.user_id.map(df_ur.set_index('user_id').useful)

In [251]:
print('construct reviewer features')
construc_reviewers_feature(df)

construct reviewer features

In [253]:
##construct polar
def construct_sentiment_score(df):
    sid = SentimentIntensityAnalyzer()
    df['sentiment_score']=[sid.polarity_scores(i)['compound'] for i in df.filtered_text]

In [254]:
print('construct sentiment feature')
construct_sentiment_score(df)

construct sentiment feature

In [258]:
df.to_pickle('data_use.pkl')

In [260]:
with open('review_all.csv') as ra:
    df_review_all=pd.read_csv(ra)
df_review_all.head()

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,type,useful,user_id
0,0,2aFiy99vNLklCx3T_tGS9A,0,2011-10-10,0.0,NxL8SIC5yqOdnlXCg18IBg,5.0,If you enjoy service by someone who is as comp...,review,0.0,KpkOkG6RIf4Ra25Lhhxf1A
1,1,2aFiy99vNLklCx3T_tGS9A,0,2010-12-29,0.0,pXbbIgOXvLuTi_SPs1hQEQ,5.0,After being on the phone with Verizon Wireless...,review,1.0,bQ7fQq1otn9hKX-gXRsrgA
2,2,2aFiy99vNLklCx3T_tGS9A,0,2011-04-29,0.0,wslW2Lu4NYylb1jEapAGsw,5.0,Great service! Corey is very service oriented....,review,0.0,r1NUhdNmL6yU9Bn-Yx6FTw
3,3,2LfIuF3_sX6uwe-IR-P0jQ,1,2014-07-14,0.0,GP6YEearUWrzPtQYSF1vVg,5.0,Highly recommended. Went in yesterday looking ...,review,0.0,aW3ix1KNZAvoM8q-WghA3Q
4,4,2LfIuF3_sX6uwe-IR-P0jQ,0,2014-01-15,0.0,25RlYGq2s5qShi-pn3ufVA,4.0,I walked in here looking for a specific piece ...,review,0.0,YOo-Cip8HqvKp_p9nEGphw

In [261]:
df['business_avg_star']=df.business_id.map(df_review_all.groupby('business_id').stars.mean())

In [263]:
df['star_deviation']=df.stars-df['business_avg_star']

In [264]:
df.head()

,Unnamed: 0,Unnamed: 0.1,business_id,cool,date,funny,review_id,stars,text,type,...,city,user_average_stars,user_fans,user_friends,user_received_funny,user_received_cool,user_received_useful,sentiment_score,business_avg_star,star_deviation
0,0,3657177,Ec9CBmL3285XkeHaNp-bSQ,0,2016-02-03,0.0,ngyVUWLxjNumTOTN-6HVtg,4.0,definitely worth it to drive off the strip to ...,review,...,Las Vegas,2.71,0,"['uVwLaauVT0z3lVjLVvL3mw', 'ktTGHk78g6OxpXS0DI...",17,3,60,0.9392,4.201456,-0.201456
1,1,454416,b41zjWT4pzcTgNY04eKAvg,0,2016-08-06,0.0,K5DlV2-PifbmPutdHjJdJw,4.0,a great go to place for bubble tea in big beer...,review,...,Toronto,4.09,0,"['ygdvrO4YdI5WnInv3ESraw', 'NAC2gi4auD897e8Mu4...",0,0,2,0.9382,2.850000,1.150000
2,2,3691165,hDyc9DdjGldhxis5E1rd3w,0,2016-12-15,0.0,U1Rt2R7V39b_E9HeTQq-Mw,5.0,tried this place last night...food was amazing...,review,...,Las Vegas,5.00,0,['None'],0,0,0,0.9298,4.711864,0.288136
3,3,3335922,vl2IZrNJEA8npSjqXbdwxw,0,2016-06-14,0.0,RoMrHR9FpF-n8gcei24XaQ,5.0,it's so mouthwatering good no matter how sweet...,review,...,Las Vegas,3.00,0,['None'],0,0,0,0.5859,4.154618,0.845382
4,4,3434391,ICWQfTi_Dvo723ZJicR8Vw,0,2016-05-26,0.0,0SXbTh-OdHIff8Gcj8WyHA,4.0,"finally, a new filipino market on the west sid...",review,...,Las Vegas,3.79,0,"['Dkb-TJFNSWl4PYR8wEcWcw', 'wxDM6hqyW5OPp5cXzn...",2,1,2,0.6572,3.458333,0.541667

In [1]:
import pandas as pd
df=pd.read_pickle('df_llll.pickle')

In [41]:
df.text.ix[29]

"while the food was good, the service could've been a lot better. also, i had to change what i wanted to order twice because each time they didn't have one of the components of the dish in the kitchen that day."

In [40]:
df.argumentation_result.ix[29]

"[DocLabel(nodes=['value' 'testimony'], links=[False  True])]"

In [3]:
import pandas as pd
df_pre=pd.read_pickle('data/data_use.pkl')
df_pre.head()

,Unnamed: 0,Unnamed: 0.1,business_id,cool,date,funny,review_id,stars,text,type,...,user_received_funny,user_received_cool,user_received_useful,sentiment_score,environment_score,other_score,price_score,food_score,service_score,ex_id
0,0,3657177,Ec9CBmL3285XkeHaNp-bSQ,0,2016-02-03,0.0,ngyVUWLxjNumTOTN-6HVtg,4.0,definitely worth it to drive off the strip to ...,review,...,17,3,60,0.9392,0.375000,0.0,0.000000,0.071429,0.375000,0
1,1,454416,b41zjWT4pzcTgNY04eKAvg,0,2016-08-06,0.0,K5DlV2-PifbmPutdHjJdJw,4.0,a great go to place for bubble tea in big beer...,review,...,0,0,2,0.9382,0.171429,0.2,0.105263,0.124060,0.500000,1
2,2,3691165,hDyc9DdjGldhxis5E1rd3w,0,2016-12-15,0.0,U1Rt2R7V39b_E9HeTQq-Mw,5.0,tried this place last night...food was amazing...,review,...,0,0,0,0.9298,0.142857,0.0,0.000000,0.138095,0.142857,2
3,3,3335922,vl2IZrNJEA8npSjqXbdwxw,0,2016-06-14,0.0,RoMrHR9FpF-n8gcei24XaQ,5.0,it's so mouthwatering good no matter how sweet...,review,...,0,0,0,0.5859,0.000000,0.0,0.000000,0.000000,0.000000,3
4,4,3434391,ICWQfTi_Dvo723ZJicR8Vw,0,2016-05-26,0.0,0SXbTh-OdHIff8Gcj8WyHA,4.0,"finally, a new filipino market on the west sid...",review,...,2,1,2,0.6572,0.142857,0.0,0.000000,0.142857,0.000000,4